<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senasoft.appdoman">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_peq"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".control.AddWordActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".control.GameActivity"
            android:screenOrientation="landscape" />

        <activity android:name=".control.MainActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".control.SettingsAdmin"
            android:screenOrientation="landscape"/>

        <activity android:name=".control.Splash"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".control.Register" />
        <activity
            android:name=".control.Login"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".control.MiniGameActivity"
            android:screenOrientation="landscape"/>

    </application>

</manifest>